

<div class="row mat-5 pt-5">

  <div class="col-md-4 mb-3" *ngFor="let projet of projets">

    <div class="card">

      <div class="card-header text-center">

        <h5 class="card-title">{{projet.name}}</h5>

      </div>

      <div class="card-body">


        <h6>Description :</h6>
        <p class="card-text">{{projet.description}}</p>

        <div class="col text-center">
          <button  type="button" class="btn btn-primary" (click)="hide()">Détails</button>
          <div style="display: none" class="pt-4" id="detail">

            <mat-vertical-stepper #stepper>

              <mat-step [stepControl]="FormGroup">
                <form [formGroup]="FormGroup">
                  <ng-template matStepLabel>Machine virtuelle</ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Système d'exploitation" value="CentOS 7" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="RAM" value="32Go" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Stockage" value="5T" required>
                  </mat-form-field>
                  <div>
                    <button class="btn btn-primary" matStepperNext>Suivant</button>
                  </div>
                </form>
              </mat-step>

              <mat-step [stepControl]="FormGroup">
                <form [formGroup]="FormGroup">
                  <ng-template matStepLabel>Site Web</ng-template>
                  <mat-form-field>
                    <input matInput placeholder="Langage" value="Angular 8" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="API" value="REST Express" required>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Base de données" value="MongoDB" required>
                  </mat-form-field>
                  <div>
                    <button class="btn btn-primary" matStepperPrevious>Retour</button>
                  </div>
                </form>
              </mat-step>

              <!-- <mat-step>
                <ng-template matStepLabel>Enregistrer</ng-template>
                Vous pouvez maitenant envoyer la demande.
                <div>
                  <button class="btn btn-success" matStepperPrevious>Enregistrer</button>
                  <div class="pt-4">
                    <button class="btn btn-danger" (click)="stepper.reset()">Recommancer</button>
                  </div>
                </div>
              </mat-step> -->

            </mat-vertical-stepper>

          </div>
        </div>

      </div>

      <div class="card-footer text-muted">
        <strong>Date de création : </strong>{{projet.date}}
      </div>

    </div>

  </div>

</div>
