<div class="page-content">
    <div class="conainer-fluid">
        <h1>TA MERE LA GROSSSE SALOOOOOOOPE !</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam sapien metus, facilisis at mi nec, aliquam egestas tellus. 
            Aenean hendrerit faucibus mauris, eget viverra arcu. In quam magna, dapibus sed placerat semper, sodales sed mi. 
            Sed aliquam orci pulvinar justo commodo congue. Mauris tempor ex purus, vel tincidunt sapien ornare eget. 
            Mauris fringilla ex turpis, ac semper odio finibus id. Curabitur molestie placerat molestie. 
            Curabitur et justo lacus. Nam vitae mattis nunc. Quisque hendrerit metus lacus, nec facilisis augue molestie et. 
            Pellentesque tincidunt eros diam, sit amet tincidunt turpis aliquet vulputate. Etiam fermentum nec arcu at egestas.</p>
    </div>
</div>
    